sudo: false
bundler_args: --without development
language: ruby
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - '2.0'
  - '2.1'
  - '2.2'
  - '2.3.0'
  - jruby-head
  - rbx-2
  - ruby-head
gemfile:
  - Gemfile
  - Gemfile-0.7.rb
  - Gemfile-0.8.rb
  - Gemfile-0.9.rb
matrix:
  exclude:
    - rvm: 1.8.7
      gemfile: Gemfile
    - rvm: 1.9.2
      gemfile: Gemfile
  allow_failures:
    - rvm: jruby-head
    - rvm: rbx-2
    - rvm: ruby-head
  fast_finish: true
deploy:
  provider: rubygems
  api_key:
    secure: H5OPkiOcBFpI34nxIdGc/Rj6nNQKBUR0ccyKBubFroXcVDftpA+TVx8Vq+sjYaM1GuZI1F3OJPLHXmuyYsnJ3M3yltG2pYpJehULdpVU6yMu6eaQ8UAzA8wbmM1ANWEGQi1giulnxHw9M08qFzECpZvDFJWjtCg9lws64emqPLA=
  gem: faraday_middleware
  on:
    tags: true
    repo: lostisland/faraday_middleware
