bundler_args: --without development
language: ruby
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - jruby-head
  - rbx-2
  - ruby-head
gemfile:
  - Gemfile
  - Gemfile-0.7
matrix:
  allow_failures:
    - rvm: jruby-head
    - rvm: rbx-2
    - rvm: ruby-head
  fast_finish: true
